artifacts/
artifacts-zk/
bin/
build/
cache/
cache-zk/
deployments/hardhat/
genfiles/
failing_metadata/
node_modules/
typechain/

*.pid
*.log
*.new
*.bak

.deps

.env

.DS_Store

.vscode/
.idea/
solc-input-*.json
flattened-*.sol

memo
